.field + .field {
	margin-top: 20px;
}

.field label {
	font-weight: normal;
	color: #5a5a5a;
	font-size: 14px;
}

.field input[type=text],
.field input[type=number] {
	display: block;
	width: 100%;
	border: 2px solid #5a5a5a;
	background: #f7f7f7;
	padding: 4px 8px;
	font-size: 15px;
	transition: all 0.3s;
}

.field input[type=text]:focus,
.field input[type=number]:focus,
.field input[type=text]:active,
.field input[type=number]:active {
	background: white;
	border-color: #7828ee;
	outline: none;
}