@import url('https://fonts.googleapis.com/css?family=Teko:700&display=swap');

body,
html {
	padding: 0;
	margin: 0;
}

* {
	box-sizing: border-box;
}

#App {
	font-family: 'Fira Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
